		<md-content layout-padding>
			<h1 flex-offset-gt-lg="25" class="md-display-2">Login</h1>
        	<md-card layout-padding flex="100" flex-gt-lg="50" flex-offset-gt-lg="25">
				<form ng-submit="loginCtrl.processLogin()" name="loginForm">
					<div layout>
						<md-input-container flex="33">
							<label>Username</label>
							<input ng-model="loginCtrl.loginForm.username" name="username" required autocomplete="off"/>
							<div ng-messages="loginForm.username.$error">
          						<div ng-message="required">This is required.</div>
        					</div>
						</md-input-container>
					</div>
					<div layout>
						<md-input-container flex="33">
							<label>Password</label>
							<input ng-model="loginCtrl.loginForm.password" type="password" name="password" required autocomplete="off"/>
							<div ng-messages="loginForm.password.$error">
          						<div ng-message="required">This is required.</div>
        					</div>
						</md-input-container>
					</div>
					<md-button type="submit" class="md-primary md-raised"/>Login</md-button>
				</form>
				<div ng-show="loginCtrl.loginError" ng-bind="loginCtrl.loginErrorMessage"></div>
			</md-card>
		</md-content>