<md-content layout-padding>
    <h3>Welcome <span ng-bind="dashCtrl.user"></span></h3>
    <h1>Manage Capsules</h1>
	<md-list layout="column">
		<md-subheader>Capsules!</md-subheader>
		<md-list-item ng-repeat="capsule in dashCtrl.userCapsules track by $index | orderBy : 'unlockWrapper'">
			<img ng-src="http://lorempixel.com/50/50/" class="md-avatar"></img>
			<md-card layout-padding style="width:100%">
				<div class="md-list-item-text" layout="column">
					<h3>Unlock Date: <span ng-bind="capsule.unlockWrapper"></h3>
					<p>Capsule Name: <span ng-bind="capsule.nickname"></p>
				</div>
			</md-card>
		</md-list-item>			
	</md-list>
</md-content>