<md-content layout-padding>
    <h2 flex-offset-gt-lg="25">Welcome <span ng-bind="dashCtrl.user"></span></h2>
    <h1 flex-offset-gt-lg="25" class="md-display-2">View Shared Capsules</h1>
	<md-list layout="column">
		<md-list-item ng-repeat="sharedCapsule in dashCtrl.sharedCapsules track by $index | orderBy : '-creationWrapper'">
			<md-card layout-padding flex="100" flex-gt-lg="50" flex-offset-gt-lg="25" layout="row" layout-align="space-between center">
				<div class="md-list-item-text" layout="column">
					<h2>Creator Name: <span ng-bind="sharedCapsule.username"></span></h2>	
					<h2>Capsule Name: <span ng-bind="sharedCapsule.capsuleName"></span></h2>					
					<h3>Creation Date : <span ng-bind="sharedCapsule.creationWrapper"></span></h3>
					<h3>Unlock Date: <span ng-bind="sharedCapsule.unlockWrapper"></span></h3>

					<div ng-if="dashCtrl.unlockedSharedCapsule[$index]">
						<h4>You attached the following picture:</h4>
						<img ng-src="./img/attachments/pizzadog2.jpg">
						<h4>What is your nickname? Do you like it?</h4>
						<p ng-bind="dashCtrl.unlockedSharedCapsule[$index].nickname"></p>
						<h4>Where are you now?</h4>
						<p ng-bind="dashCtrl.unlockedSharedCapsule[$index].currentLocation"></p>
						<h4>What is the best song in the universe?</h4>
						<p ng-bind="dashCtrl.unlockedSharedCapsule[$index].bestSong"></p>
						<h4>What is your favorite recent memory?</h4>
						<p ng-bind="dashCtrl.unlockedSharedCapsule[$index].recentMemory"></p>
						<h4>If you could meet any celebrity, who would it be and why?</h4>
						<p ng-bind="dashCtrl.unlockedSharedCapsule[$index].celebrityCrush"></p>
						<h4>What do you most want for your future?</h4>
						<p ng-bind="dashCtrl.unlockedSharedCapsule[$index].futureOccupation"></p>
						<h4>What is the best thing in life?</h4>
						<p ng-bind="dashCtrl.unlockedSharedCapsule[$index].bestThing"></p>
						<h4>Would you like to write yourself a personal message?</h4>
						<p ng-bind="dashCtrl.unlockedSharedCapsule[$index].personalMessage"></p>					
						
						<hr/>
						<md-list layout="column">
							<md-list-item ng-repeat="contribution in dashCtrl.contributions">
								<div class="md-list-item-text" layout="column">
									<h4>Contributer Name: <strong ng-bind="contribution.username"></strong></h4>
									<h5>What is your favorite recent memory with <span ng-bind="dashCtrl.user"></span>?</h5>
									<p ng-bind="contribution.recentMemory"></p>
									<h5>What is <span ng-bind="dashCtrl.user"></span> really bad at?</h5>
									<p ng-bind="contribution.badAt"></p>									
									<h5>What is <span ng-bind="dashCtrl.user"></span> the best at?</h5>
									<p ng-bind="contribution.goodAt"></p>
									<h5>Write <span ng-bind="dashCtrl.user"></span> a personal message!</h5>
									<p ng-bind="contribution.personalMessage"></p>
								</div>
							</md-list-item>
						</md-list>
					</div>
				</div>
				<md-button class="md-primary md-raised" ng-click="dashCtrl.openShared($index)" ng-disabled="sharedCapsule.locked" ng-bind="dashCtrl.openSharedButtonText[$index]" aria-label="Open {{capsule.capsuleName}}"></md-button>
				<!-- add a close button -->
			</md-card>
		</md-list-item>			
	</md-list>
</md-content>