<md-content layout-padding>
   	<h2 flex-offset-gt-lg="25">Welcome <span ng-bind="dashCtrl.user"></span></h2>
   	<h1 flex-offset-gt-lg="25" class="md-display-2">Create Capsule</h1>
   	<div flex="100"layout="row">
       <md-card layout-padding flex="100" flex-gt-lg="50" flex-offset-gt-lg="25">

          <!-- <form ng-submit="dashCtrl.createCapsule()" name="createCapsuleForm"> -->
          <form name="createCapsuleForm">

			<div layout>
				<md-input-container flex>
					<label>Please name this capsule</label>
					<input ng-model="dashCtrl.createCapsuleForm.capsuleName"/>
				</md-input-container>
			</div>
			<div layout="column">
          		<md-input-container flex>
          			<label ng-class="{'input-text-color' : dashCtrl.labelColor1 }">Would you like to upload a photo?</label>
          		</md-input-container>
          		<div ng-click="dashCtrl.labelColor1 = true">
      				<md-button class="md-primary md-raised" ng-blur="dashCtrl.labelColor1 = false">
        				<label for="file-input">Select File</label>  
      				</md-button>
      			</div>
      			<input id="file-input" type="file" ng-model="dashCtrl.createCapsuleForm.image" class="ng-hide"/>
			</div>		
			<div layout>
				<md-input-container flex>
					<label>What is your nickname? Do you like it?</label>
					<input ng-model="dashCtrl.createCapsuleForm.nickname"/>
				</md-input-container>
			</div>
			<div layout>
				<md-input-container flex>
					<label>Where are you now?</label>
					<input ng-model="dashCtrl.createCapsuleForm.currentLocation"/>
				</md-input-container>
			</div>
			<div layout>
				<md-input-container flex>
					<label>What is the best song in the universe?</label>
					<input ng-model="dashCtrl.createCapsuleForm.bestSong"/>
				</md-input-container>
			</div>
			<div layout>
				<md-input-container flex>
					<label>What is your favorite recent memory?</label>
					<textarea ng-model="dashCtrl.createCapsuleForm.recentMemory" columns="1" md-maxlength="600"></textarea>
				</md-input-container>
			</div>			
			<div layout>
				<md-input-container flex>
					<label>If you could meet any celebrity, who would it be and why?</label>
					<textarea ng-model="dashCtrl.createCapsuleForm.celebrityCrush" columns="1" md-maxlength="600"></textarea>
				</md-input-container>
			</div>
			<div layout>
				<md-input-container flex>
					<label>What do you most want for your future?</label>
					<textarea ng-model="dashCtrl.createCapsuleForm.futureOccupation" columns="1" md-maxlength="600"></textarea>
				</md-input-container>
			</div>
			<div layout>
				<md-input-container flex>
					<label>What is the best thing in life?</label>
					<textarea ng-model="dashCtrl.createCapsuleForm.bestThing" columns="1" md-maxlength="600"></textarea>
				</md-input-container>
			</div>
			<div layout>
				<md-input-container flex>
					<label>Would you like to write yourself a personal message?</label>
					<textarea ng-model="dashCtrl.createCapsuleForm.personalMessage" columns="1" md-maxlength="600"></textarea>
				</md-input-container>
			</div>

			<div layout>
				<md-list layout="column">
					<md-input-container>
						<label ng-class="{'input-text-color': dashCtrl.labelColor2}">Would you like to ask friends to contribute?</label>
					</md-input-container>
					<md-list-item>
						<md-input-container>
      						<label>Email Friend #1</label>
      						<input ng-model="dashCtrl.createCapsuleForm.inviteFriends[0]" ng-pattern="/^.+@.+\..+$/" type="email" ng-focus="dashCtrl.labelColor2 = true" ng-blur="dashCtrl.labelColor2 = false">
    					</md-input-container>
    				</md-list-item>
    				<md-list-item>
						<md-input-container>
      						<label>Email Friend #2</label>
      						<input ng-model="dashCtrl.createCapsuleForm.inviteFriends[1]" ng-pattern="/^.+@.+\..+$/" type="email" ng-focus="dashCtrl.labelColor2 = true" ng-blur="dashCtrl.labelColor2 = false">
    					</md-input-container>
    				</md-list-item>
    				<md-list-item>
						<md-input-container>
      						<label>Email Friend #3</label>
      						<input ng-model="dashCtrl.createCapsuleForm.inviteFriends[2]" ng-pattern="/^.+@.+\..+$/" type="email" ng-focus="dashCtrl.labelColor2 = true" ng-blur="dashCtrl.labelColor2 = false">
    					</md-input-container>
    				</md-list-item>
    				<md-list-item>
						<md-input-container>
      						<label>Email Friend #4</label>
      						<input ng-model="dashCtrl.createCapsuleForm.inviteFriends[3]" ng-pattern="/^.+@.+\..+$/" type="email" ng-focus="dashCtrl.labelColor2 = true" ng-blur="dashCtrl.labelColor2 = false">
    					</md-input-container>
    				</md-list-item>
    			</md-list>
    		</div>
			<label>When should this capsule unlock?</label>
			<div layout>
				<md-datepicker name="dateField" ng-model="dashCtrl.createCapsuleForm.unlockDate" required md-min-date="dashCtrl.minDate" md-max-date="dashCtrl.maxDate"></md-datepicker>
        		<div ng-messages="createCapsuleForm.dateField.$error">
        			<div ng-message="required">This date is required!</div>
        			<div ng-message="mindate">Date is too early!</div>
        			<div ng-message="maxdate">Date is too late!</div>
      			</div>
			</div>			
			<md-button ng-click="dashCtrl.createCapsule()" class="md-primary md-raised">Submit Capsule</md-button>
			<!-- <md-button type="submit" class="md-primary md-raised">Submit Capsule</md-button>	 -->
		</form>
	</md-card>
</div>
</md-content>