<md-tabs md-dynamic-height md-border-bottom md-selected="dashCtrl.selectedIndex" ng-click="dashCtrl.closeCapsules; dashCtrl.closeShared;">
    <md-tab label="Create Capsule">
    	<div ng-include="'./html/views/dash/dash.create.html'"></div>
    </md-tab>
    <md-tab label="Manage Capsules">
    	<div ng-include="'./html/views/dash/dash.manage.html'"></div>
    </md-tab>
    <md-tab label="Capsule Invites">
    	<div ng-include="'./html/views/dash/dash.invites.html'"></div>
    </md-tab>
    <md-tab label="Shared Capsules">
    	<div ng-include="'./html/views/dash/dash.shared.html'"></div>
    </md-tab>
</md-tabs>

