<md-content layout-padding>
	<h2 flex-offset-gt-lg="25">Welcome <span ng-bind="dashCtrl.user"></span></h2>
   	<h1 flex-offset-gt-lg="25" class="md-display-2">Invites</h1>
	<md-list layout="column">
		<md-list-item ng-repeat="capsule in dashCtrl.inviteCapsules track by $index">
			<md-card layout-padding flex="100" flex-gt-lg="50" flex-offset-gt-lg="25">
				<div class="md-list-item-text" layout="column">
					<h2>Unlock Date: <span ng-bind="capsule.unlockWrapper"></h2>
					<h3>Capsule Name: <span ng-bind="capsule.capsuleName"></h3>
					<h4>Invited by: <span ng-bind="capsule.username"></span></h4>
				</div>
				<md-button class="md-primary md-raised" ng-click="dashCtrl.openInvite($index)" ng-disabled="capsule.inviteLocked.inviteLocked">Contribute!</md-button>
				<div ng-if="dashCtrl.openedInvite[$index]">
					 <form ng-submit="dashCtrl.submitContribution($index)" name="createCapsuleForm">
						<div layout>
							<md-input-container flex>
								<label>What is your favorite recent memory with <span ng-bind="capsule.username"></span>?</label>
								<textarea ng-model="dashCtrl.inviteForm.recentMemory" columns="1" md-maxlength="300"></textarea>
							</md-input-container>
						</div>	
						<div layout>
							<md-input-container>
								<label>What is <span></span> really bad at?</label>
								<textarea ng-model="dashCtrl.inviteForm.badAt" columns="1" md-maxlength="300"></textarea>
							</md-input-container>
						</div>
						<div layout>
							<md-input-container>
								<label>What is <span></span> the best at?</label>
								<textarea ng-model="dashCtrl.inviteForm.goodAt" columns="1" md-maxlength="300"></textarea>
							</md-input-container>
						</div>
						<div layout>
							<md-input-container>
								<label>Write <span></span> a personal message!</label>
								<textarea ng-model="dashCtrl.inviteForm.personalMessage" columns="1" md-maxlength="300"></textarea>
							</md-input-container>
						</div>
						<md-button class="md-primary md-raised" type="submit">Submit your contribution!</md-button>
					</form>
				</div>
			</md-card>
		</md-list-item>			
	</md-list>
</md-content>